* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    width: 30rem;
    height: 45rem;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    transition: all 1000ms;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* centering text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 1000ms;
    background: #292929;
    transform: translateX(-100%);
}

.container:hover .content {
    transform: translateX(0);
}

.container:hover img {
    transform: translateX(100%);
}